.place__image {
  width: 460px;
  height: 460px;
  -o-object-fit: cover;
  object-fit: cover;
  justify-self: baseline;
  grid-area: place-image;
}

@media screen and (max-width: 1220px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 990px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 758px) {
  .place__image {
    width: 320px;
    height: 320px;
  }
}
