.cover__subtitle {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 32px auto 0 auto;
  position: relative;
  max-width: 320px;
}

@media screen and (max-width: 658px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }
}
