.footer__link {
  margin: 0 18px 0 0;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 658px) {
  .footer__link {
    margin: 0 0 32px 0;
    font-size: 24px;
    line-height: 1;
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }
}
