.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1220px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 990px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 658px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}

