.cover__title {
  color: #fffdfd;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 758px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
