.place {
  padding-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 48px auto;
  -ms-grid-columns: 460px 40px 1fr;
  grid-template:
    'place-title place-website' 1fr
    'place-image place-paragraph' auto
    / 460px 1fr;
  grid-gap: 48px 40px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1220px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 990px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 758px) {
  .place {
    grid-template:
      'place-title' 35px
      'place-website' auto
      'place-image' 320px
      'place-paragraph' auto
      /320px;
  }
}
