.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1220px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 990px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 758px) {
  .footer {
    max-width: 558px;
  }
}
@media screen and (max-width: 658px) {
  .footer {
    max-width: 288px;
    flex-direction: column;
    padding-top: 64px;
  }
}
